.baoquat {
    display: flex;
    width: 70%;
    background-color: white;

    & .section-three {
        background-color: white;
        //width: 45%;
        width: 64%;
        height: 100%;

        & .title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding-bottom: 5.5px;

            & .title-tt {
                display: flex;
                padding-top: 10px;

                & .inf-title {
                    padding-left: 10px;

                    & .name-title {
                        font-weight: bold;
                    }
                }
            }

            & .icon {
                font-size: 30px;
                display: flex;
                align-items: center;

                & i {
                    margin-right: 10px;
                }
            }
        }

        & .box {
            height: 1px;
            background-color: black;

            margin: 20px 10px 0 10px;
        }

        & .inf-mess {
            border-bottom: 1px solid black;
            overflow-y: scroll;
            scrollbar-width: auto;
            height: 600px;

            & .mess-you {
                padding-top: 10px;
                display: flex;
                padding-left: 5px;

                & img {
                    height: 100%;
                    width: 100%;
                }

                & .inf-you {
                    & span:nth-child(1) {
                        font-weight: bold;
                    }

                    & span:nth-child(2) {
                        margin-left: 5px;
                    }

                    & .content {
                        box-shadow: 0 0 10px rgb(222, 212, 212);
                        border-radius: 5px;
                        margin-left: 30px;
                        max-width: 500px;


                        & p {
                            max-width: 500px;
                            padding: 5px;
                        }
                    }
                }
            }

            & .mess-me {
                padding-top: 10px;
                display: flex;
                padding-right: 5px;
                flex-direction: row-reverse;


                & img {
                    height: 100%;
                    width: 100%;
                }

                & .inf-you {
                    & span:nth-child(1) {
                        font-weight: bold;
                    }

                    & span:nth-child(2) {
                        margin-left: 5px;
                    }



                    & .content {
                        box-shadow: 0 0 10px rgb(222, 212, 212);
                        border-radius: 5px;
                        margin-left: 30px;
                        background-color: rgb(35, 144, 239);

                        & p {
                            color: white;
                            padding: 5px;
                        }
                    }
                }
            }
        }

        & .soan {
            display: flex;
            justify-content: space-between;
            padding: 20px 10px 10px 10px;

            & .nd {
                & input {
                    font-size: 20px;
                    border: 0;
                    outline: 0;
                    width: 500px;

                }





            }

            & .cachthuc {
                //them 1 dong
                display: flex;

                & i {
                    font-size: 25px;
                    margin-right: 10px;
                }

                & i:nth-child(4) {
                    background-color: red;
                    border-radius: 50%;
                    padding: 10px;
                    color: aliceblue;
                }
            }
        }
    }

    & .section-four {
        background-color: rgb(255, 255, 255);
        // width: 25%;
        width: 36%;
        border-left: 1px solid black;

        & .title {
            padding-bottom: 3px;
            border-bottom: 1px solid black;

            & h3 {
                margin-left: 120px;
            }
        }

        //them
        & .section-four-cro {
            scrollbar-width: auto;
            overflow-y: scroll;
            height: 670px;

            & .avt {
                margin-top: 20px;
                margin-left: 130px;
            }



            & .inf {
                display: flex;
                justify-content: center;
                align-items: center;

                & p {
                    font-weight: bold;
                }

                & i {
                    background-color: rgb(237, 233, 233);
                    border-radius: 50%;
                    padding: 5px;
                    margin-left: 10px;
                }
            }

            & .thaotac {
                display: flex;
                justify-content: space-around;


                & i {
                    background-color: rgb(237, 233, 233);
                    border-radius: 50%;
                    padding: 5px;

                }
            }

            & .video {
                border-top: 1px solid black;
                margin-top: 20px;

                & .title-video {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;

                    & i {
                        font-size: 30px;
                    }

                    & span {
                        padding-left: 10px;
                    }
                }

                & .videos {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    & img {
                        padding-left: 10px;
                    }
                }
            }

            & .file {
                border-top: 1px solid black;
                margin-top: 20px;

                & .title-file {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;

                    & span {
                        padding-left: 10px;
                    }
                }


            }
        }
    }
}