.item-friend-inner {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;

    img {
        font-size: 35px;


    }

    & .item-friend-name {
        margin-left: 20px;
        font-size: 30px;
        font-style: oblique;
    }
}